Tests
typo3temp
/typo3_src/
/index.php
/typo3
/typo3conf/system/
/typo3conf/autoload/
/typo3conf/l10n/
/typo3conf/PackageStates.php
/fileadmin/
/Plans/
/Reviews/
APPROVAL.md
build-blackjack-structure.php
build-coin-pusher-structure.php
build-fruit-risk-structure.php
build-roulette-structure.php
build-video-slot-structure.php
CONCEPT.md
DECISIONS.md
DESIGNBRIEF.md
MEMORY.md
OPINIONS.txt
RESEARCH.md
test.txt
/.ddev/*
!/.ddev/config.yaml
node_modules
